[user]
	name = Paul Morris
	email = paulh.morris@gmail.com
[pull]
	rebase = false
[commit]
	gpgsign = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[alias]
	sweep = !git branch --merged | grep -v \"\\*\" | grep -v \"main\" | xargs -n 1 git branch -d
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
